@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.signupPage {
  @include flexbox();
  height: 100%;
}

.container {
  padding: 30px 50px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
  animation: fade-in 0.5s ease-out forwards;
  opacity: 0;

  h1 {
    font-family: var(--poppins);
    font-size: 24px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 40px;
  }

  @media (max-width: 800px) {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 50px 30px;
  }
}

.particlesContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
