@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.layout {
  height: 100%;
  background: #fff;

  .loadingContainer {
    @include flexbox();
    padding-top: calc(var(--nav-height) * 1.2);
    height: 100%;
    position: relative;
    z-index: 2;

    .spinner {
      height: 40px;
      width: 40px;
    }
  }

  .container {
    padding-top: calc(var(--nav-height) * 1.2);
    background: transparent;
    position: relative;
    z-index: 2;
  }
}

.particlesContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.homePage {
  padding: 30px 60px;

  h1 {
    font-family: var(--poppins);
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
