@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.navbar {
  @include flexbox(column, flex-start, flex-start);
  gap: 30px;
  width: 100%;
  z-index: 999;
  height: 100%;
  background: #000;
  padding-block: 30px;
  position: relative;

  .heading {
    font-family: var(--poppins);
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 100%;
  }

  ul {
    list-style: none;
    width: 100%;
    display: grid;
    gap: 40px;
    padding-left: 30px;
  }
}

.tab a {
  font-family: var(--poppins);
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
}

.tab .active {
  view-transition-name: activeTab;
  background: #fff;
  color: #000;
  border-radius: 100vw 0 0 100vw;
}

.active::before,
.active::after {
  --border-radius: 20px;
  content: "";
  position: absolute;
  height: var(--border-radius);
  aspect-ratio: 1/1;
  right: 0;
  background: #000;
}

.active::before {
  top: calc(-1 * var(--border-radius));
  box-shadow: 5px 5px 0 5px #fff;
  border-radius: 0 0 100vw 0;
}

.active::after {
  bottom: calc(-1 * var(--border-radius));
  box-shadow: 5px -5px 0 5px #fff;
  border-radius: 0 100vw 0 0;
}
