@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.signInPage {
  @include flexbox();
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 250px 400px;
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  animation: fade-in 0.5s ease-out forwards;
  opacity: 0;

  .left {
    height: 100%;
    width: 240px;
    object-fit: cover;
  }
}

.particlesContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
